In [ ]:
# All imports
#from google.colab import drive
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
#from google.colab import files

In [ ]:

df_co2 = pd.read_csv("./CSV/annual-co2-emissions-per-country.csv")
df_pop = pd.read_csv('./CSV/population-and-demography.csv')
df_gdp = pd.read_csv('./CSV/gdp-per-capita.csv')
df_methane = pd.read_csv('./CSV/methane-emissions.csv')
df_nitrous = pd.read_csv('./CSV/nitrous-oxide-emissions.csv')
df_ghg = pd.read_csv('./CSV/total-ghg-emissions.csv')

In [ ]:

#pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)


pd.reset_option('display.max_rows')
pd.reset_option('display.max_columns')

countries_array =['Europe','Argentina', 'Australia', 'Brazil', 'United States', 'World', 'United Kingdom','Canada', 'China', 'France', 'Germany', 'India', 'Indonesia', 'Italy', 'Japan', 'Mexico', 'Russia', 'Saudi Arabia', 'South Africa', 'South Korea','Turkey']

df_co2.rename(columns = {'Annual CO₂ emissions':'Annual CO2 emissions'}, inplace = True)

df_co2_noname = df_co2[['Entity','Year','Annual CO2 emissions']] 

df_co2_final = df_co2_noname[(df_co2_noname['Entity'].isin(countries_array))]

df_co2_final

          Entity  Year  Annual CO2 emissions
1174   Argentina  1887          1.084544e+06
1175   Argentina  1888          8.903520e+05
1176   Argentina  1889          1.755056e+06
1177   Argentina  1890          1.370336e+06
1178   Argentina  1891          9.379840e+05
...          ...   ...                   ...
31083      World  2019          3.708256e+10
31084      World  2020          3.733861e+10
31085      World  2021          3.759466e+10
31086      World  2022          3.785071e+10
31087      World  2023          3.810676e+10

[3767 rows x 3 columns]

In [ ]:

#df_methane = pd.read_csv(df_methane)

df_methane_noname = df_methane[['Entity','Year','Annual methane emissions']] 

df_methane_final = df_methane_noname[(df_methane_noname['Entity'].isin(countries_array))]

df_methane_final

          Entity  Year  Annual methane emissions
1368   Argentina  1851              4.367059e+06
1369   Argentina  1852              4.484928e+06
1370   Argentina  1853              4.602804e+06
1371   Argentina  1854              4.720688e+06
1372   Argentina  1855              4.838581e+06
...          ...   ...                       ...
34708      World  2017              1.012901e+10
34709      World  2018              1.021516e+10
34710      World  2019              1.032124e+10
34711      World  2020              1.037299e+10
34712      World  2021              1.050691e+10

[3591 rows x 3 columns]

In [ ]:
df_ghg_noname = df_ghg[['Entity','Year','Annual greenhouse gas emissions']] 

df_ghg_final = df_ghg_noname[(df_ghg_noname['Entity'].isin(countries_array))]

df_ghg_final

          Entity  Year  Annual greenhouse gas emissions
1368   Argentina  1851                     3.599866e+07
1369   Argentina  1852                     3.715413e+07
1370   Argentina  1853                     3.837032e+07
1371   Argentina  1854                     3.951274e+07
1372   Argentina  1855                     4.069118e+07
...          ...   ...                              ...
34708      World  2017                     5.340529e+10
34709      World  2018                     5.406630e+10
34710      World  2019                     5.482132e+10
34711      World  2020                     5.258525e+10
34712      World  2021                     5.459319e+10

[3591 rows x 3 columns]

In [ ]:
#df_nitrous = pd.read_csv(nitrous_path)

df_nitrous_noname = df_nitrous[['Entity','Year','Annual nitrous oxide emissions']] 

df_nitrous_final = df_nitrous_noname[(df_nitrous_noname['Entity'].isin(countries_array))]

df_nitrous_final

          Entity  Year  Annual nitrous oxide emissions
1539   Argentina  1851                    7.562959e+05
1540   Argentina  1852                    7.679762e+05
1541   Argentina  1853                    7.792992e+05
1542   Argentina  1854                    7.901285e+05
1543   Argentina  1855                    8.003274e+05
...          ...   ...                             ...
35050      World  2017                    2.875266e+09
35051      World  2018                    2.870180e+09
35052      World  2019                    2.885550e+09
35053      World  2020                    2.917279e+09
35054      World  2021                    2.968141e+09

[3591 rows x 3 columns]

In [ ]:
df_pop2 = df_pop[["Country name", "Year", "Population"]]
#print(df_pop2)

df_pop3 = pd.merge(

    left = df_co2,
    right = df_gdp,
    left_on = ["Entity","Year"],
    right_on = ["Entity","Year"]

)

df_pop3 = pd.merge(

    left = df_pop3,
    right = df_pop,
    left_on = ["Entity","Year"],
    right_on = ["Country name","Year"]

)

df_pop2 = pd.merge(

    left = df_co2,
    right = df_pop,
    left_on = ["Entity","Year"],
    right_on = ["Country name","Year"]

)




df_pop3["per_capita_CO2"] = df_pop3["Annual CO2 emissions"]/df_pop3["Population"]
df_pop3["per_gdp_CO2"] = df_pop3["Annual CO2 emissions"]*1000/(df_pop3["GDP per capita"]*df_pop3["Population"])

#print(df_pop2)
# Filter the df_pop2 dataframe to contain only the 'World' rows
df_world = df_pop2[df_pop2['Entity'] == 'World'][['Year', 'Annual CO2 emissions']]
#print(df_world)
# Merge the filtered dataframe with the original dataframe on the 'Year' column
df_pop2 = pd.merge(df_pop2, df_world, on='Year', how='left', suffixes=('', '_world'))
#print(df_pop2)
# Calculate the percentage of global CO2 emissions for each country and year
df_pop2['CO2 emissions %'] = df_pop2['Annual CO2 emissions'] / df_pop2['Annual CO2 emissions_world'] * 100
#print(df_pop2)
# Drop the redundant 'Annual CO2 emissions_world' column
df_pop2 = df_pop2.drop('Annual CO2 emissions_world', axis=1)



df_pop2_final = df_pop2[(df_pop2['Entity'].isin(countries_array))]
#df_country_final = df_country[(df_country['Entity'].isin(countries_array))]
#df_pop2_final

df_pop3_final = df_pop3[(df_pop3['Entity'].isin(countries_array))]
#from google.colab import files
#df_pop3_final.to_csv('output.csv', encoding = 'utf-8-sig') 
#@#files.download('output.csv')
df_pop3_final = df_pop3_final.drop(columns = ['Code_x', 'Code_y', '417485-annotations', 'Country name', 'Population of children under the age of 1', 'Population aged 20 to 29 years'	,'Population aged 30 to 39 years'	,'Population aged 40 to 49 years',	'Population aged 50 to 59 years',	'Population aged 60 to 69 years',	'Population aged 70 to 79 years',	'Population aged 80 to 89 years',	'Population aged 90 to 99 years'	,'Population older than 100 years' ])
df_pop3_final = df_pop3_final.drop(columns=['Population of children under the age of 5','Population of children under the age of 15','Population under the age of 25','Population aged 15 to 64 years','Population older than 15 years','Population older than 18 years','Population at age 1','Population aged 1 to 4 years','Population aged 5 to 9 years','Population aged 10 to 14 years','Population aged 15 to 19 years'])
df_pop2_final = df_pop2_final.drop(columns = [ 'Country name', 'Population of children under the age of 1', 'Population aged 20 to 29 years'	,'Population aged 30 to 39 years'	,'Population aged 40 to 49 years',	'Population aged 50 to 59 years',	'Population aged 60 to 69 years',	'Population aged 70 to 79 years',	'Population aged 80 to 89 years',	'Population aged 90 to 99 years'	,'Population older than 100 years' ])
df_pop2_final = df_pop2_final.drop(columns=['Population of children under the age of 5','Population of children under the age of 15','Population under the age of 25','Population aged 15 to 64 years','Population older than 15 years','Population older than 18 years','Population at age 1','Population aged 1 to 4 years','Population aged 5 to 9 years','Population aged 10 to 14 years','Population aged 15 to 19 years'])
df_pop2_final = df_pop2_final.drop(columns=['Code','Annual CO2 emissions','Population'])

df_pop3_final = pd.merge(
    left = df_pop3_final,
    right = df_nitrous_final,
    left_on = ["Entity","Year"],
    right_on = ["Entity","Year"]
)

df_pop3_final = pd.merge(
    
 left = df_pop3_final,
    right = df_methane_final,
    left_on = ["Entity","Year"],
    right_on = ["Entity","Year"]

)


df_pop3_final = pd.merge(
    
 left = df_pop3_final,
    right = df_ghg_final,
    left_on = ["Entity","Year"],
    right_on = ["Entity","Year"]

)
df_pop3_final = pd.merge(
    
 left = df_pop3_final,
    right = df_pop2_final,
    left_on = ["Entity","Year"],
    right_on = ["Entity","Year"]

)

df_pop3_final['CO2 % from greenhouse emissions'] = df_pop3_final['Annual CO2 emissions'] / df_pop3_final['Annual greenhouse gas emissions'] * 100

df_pop3_final

,Entity,Year,Annual CO2 emissions,GDP per capita,Population,per_capita_CO2,per_gdp_CO2,Annual nitrous oxide emissions,Annual methane emissions,Annual greenhouse gas emissions,CO2 emissions %,CO2 % from greenhouse emissions
0,Argentina,1950,2.992119e+07,7949.000,17017748,1.758235,0.221189,1.650561e+07,7.430794e+07,1.882745e+08,0.498415,15.892327
1,Argentina,1951,3.496292e+07,8086.000,17354614,2.014618,0.249149,1.715333e+07,7.622470e+07,1.889313e+08,0.548026,18.505624
2,Argentina,1952,3.609512e+07,7519.000,17693856,2.039981,0.271310,1.808640e+07,7.791290e+07,1.878239e+08,0.558253,19.217538
3,Argentina,1953,3.513474e+07,7769.000,18032748,1.948385,0.250790,1.923869e+07,7.952916e+07,1.877145e+08,0.528520,18.717113
4,Argentina,1954,3.675036e+07,7938.000,18369248,2.000646,0.252034,2.054407e+07,8.123297e+07,1.901532e+08,0.541245,19.326712
...,...,...,...,...,...,...,...,...,...,...,...,...
1316,World,2000,2.545362e+10,9914.567,6148899000,4.139542,0.417521,2.393431e+09,8.400780e+09,4.134342e+10,100.000000,61.566322
1317,World,2010,3.336435e+10,13179.495,6985603000,4.776158,0.362393,2.641035e+09,9.454867e+09,5.027414e+10,100.000000,66.364824
1318,World,2016,3.552419e+10,14700.372,7513474000,4.728065,0.321629,2.822356e+09,9.974606e+09,5.282262e+10,100.000000,67.251849
1319,World,2017,3.609674e+10,14944.094,7599822300,4.749682,0.317830,2.875266e+09,1.012901e+10,5.340529e+10,100.000000,67.590190
1320,World,2018,3.682651e+10,15212.415,7683790000,4.792753,0.315055,2.870180e+09,1.021516e+10,5.406630e+10,100.000000,68.113619

In [ ]:
!pip install redshift_connector

Requirement already satisfied: redshift_connector in c:\python310\lib\site-packages (2.0.910)
Requirement already satisfied: scramp<1.5.0,>=1.2.0 in c:\python310\lib\site-packages (from redshift_connector) (1.4.4)
Requirement already satisfied: boto3<2.0.0,>=1.9.201 in c:\python310\lib\site-packages (from redshift_connector) (1.26.120)
Requirement already satisfied: beautifulsoup4<5.0.0,>=4.7.0 in c:\python310\lib\site-packages (from redshift_connector) (4.11.1)
Requirement already satisfied: requests<3.0.0,>=2.23.0 in c:\python310\lib\site-packages (from redshift_connector) (2.28.2)
Requirement already satisfied: lxml>=4.6.5 in c:\python310\lib\site-packages (from redshift_connector) (4.9.2)
Requirement already satisfied: setuptools in c:\python310\lib\site-packages (from redshift_connector) (63.2.0)
Requirement already satisfied: pytz>=2020.1 in c:\python310\lib\site-packages (from redshift_connector) (2022.7.1)
Requirement already satisfied: botocore<2.0.0,>=1.12.201 in c:\python310\lib\site-packages (from redshift_connector) (1.29.120)
Requirement already satisfied: packaging in c:\python310\lib\site-packages (from redshift_connector) (23.0)
Requirement already satisfied: soupsieve>1.2 in c:\python310\lib\site-packages (from beautifulsoup4<5.0.0,>=4.7.0->redshift_connector) (2.3.2.post1)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in c:\python310\lib\site-packages (from boto3<2.0.0,>=1.9.201->redshift_connector) (1.0.1)
Requirement already satisfied: s3transfer<0.7.0,>=0.6.0 in c:\python310\lib\site-packages (from boto3<2.0.0,>=1.9.201->redshift_connector) (0.6.0)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in c:\python310\lib\site-packages (from botocore<2.0.0,>=1.12.201->redshift_connector) (1.26.14)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in c:\python310\lib\site-packages (from botocore<2.0.0,>=1.12.201->redshift_connector) (2.8.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\python310\lib\site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in c:\python310\lib\site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (3.4)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\python310\lib\site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (3.0.1)
Requirement already satisfied: asn1crypto>=1.5.1 in c:\python310\lib\site-packages (from scramp<1.5.0,>=1.2.0->redshift_connector) (1.5.1)
Requirement already satisfied: six>=1.5 in c:\python310\lib\site-packages (from python-dateutil<3.0.0,>=2.1->botocore<2.0.0,>=1.12.201->redshift_connector) (1.16.0)

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [24]:
update_query = ''' 
UPDATE finalProject2
SET Annual_CO2_emissions = %s,
    GDP_per_capita = %s,
    Population = %s,
    per_capita_CO2 = %s,
    per_gdp_CO2 = %s,
    Annual_nitrous_oxide_emissions = %s,
    Annual_methane_emissions = %s,
    Annual_greenhouse_gas_emissions = %s,
    C02_emmissions_worldtotal = %s,
    CO2_from_greenhouse_emissions = %s
WHERE Entity = %s AND Year = %s;'''






insert_update ='''

INSERT INTO finalProject2 (Entity, Year, Annual_CO2_emissions, GDP_per_capita, Population,
                           per_capita_CO2, per_gdp_CO2, Annual_nitrous_oxide_emissions, 
                           Annual_methane_emissions, Annual_greenhouse_gas_emissions, 
                           C02_emmissions_worldtotal, CO2_from_greenhouse_emissions)
SELECT %s, %s, %s, %s, %s, %s, %s, %s,%s,%s,%s,%s
WHERE (Entity, Year) NOT IN (SELECT Entity, Year FROM finalProject2);

'''


        
sql1 = '''
   INSERT INTO finalProject2 (Entity, Year, Annual_CO2_emissions, GDP_per_capita, Population,
   per_capita_CO2 , per_gdp_CO2, Annual_nitrous_oxide_emissions, Annual_methane_emissions,
   Annual_greenhouse_gas_emissions, C02_emmissions_worldtotal, CO2_from_greenhouse_emissions)
    VALUES ( %s, %s, %s, %s, %s, %s, %s, %s,%s,%s,%s,%s);
  '''



create_finalProject_table = """
CREATE TABLE finalProject2 (
  Id bigint identity(0,1),
  Entity VARCHAR(32) NOT NULL,
  Year integer NOT NULL,
  Annual_CO2_emissions float,
  GDP_per_capita float,
  Population float,
  per_capita_CO2 float,
  per_gdp_CO2 float ,
  Annual_nitrous_oxide_emissions float,
Annual_methane_emissions float,
Annual_greenhouse_gas_emissions float,
C02_emmissions_worldtotal float,
CO2_from_greenhouse_emissions float,
primary key (Id));
 """
query= '''SELECT Entity from finalProject2 '''

val1 = df_pop3_final.values.tolist()

import redshift_connector

with redshift_connector.connect(
     host='redshift-cluster-1.cigoy313aggq.us-east-1.redshift.amazonaws.com',
     database='dev',
     port=5439,
     user='awsuser',
     password='Winter2023'
) as conn:
    with conn.cursor() as cursor:
        #cursor.execute(update_query)
        cursor.execute(query)
        result = cursor.fetchall()
        print(result)
        cursor.executemany(insert_update,val1)
        conn.commit()

(['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Argentina'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Australia'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Brazil'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['Canada'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['China'], ['Europe'], ['Europe'], ['Europe'], ['Europe'], ['Europe'], ['Europe'], ['Europe'], ['Europe'], ['Europe'], ['Europe'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['France'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['Germany'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['India'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Indonesia'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Italy'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Japan'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Mexico'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Russia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['Saudi Arabia'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Africa'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['South Korea'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['Turkey'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United Kingdom'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['United States'], ['World'], ['World'], ['World'], ['World'], ['World'], ['World'], ['World'], ['World'], ['World'], ['World'])

In [8]:
def execute_query(connection, query):
    cursor = connection.cursor()
    cursor.execute(query)
    connection.commit()
    print("Query successful")

In [9]:



def read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as err:
        print(f"Error: '{err}'")

In [18]:
q1 = 'SELECT * FROM stv_inflight;'
read_query(connection, q1)

([100,
  12813,
  20363,
  'default                                                                                                                                                                                                                                                                                                                         ',
  72687,
  1073987908,
  datetime.datetime(2023, 4, 26, 15, 53, 4, 300565),
  'SELECT * FROM stv_inflight;                                                                         ',
  0,
  0,
  0],)

In [ ]:
drop_table = '''
Drop table finalProject2
'''

execute_query(connection,drop_table)

In [10]:


create_finalProject_table = """
CREATE TABLE finalProject2 (
  Id bigint identity(0,1),
  Entity VARCHAR(32) NOT NULL,
  Year integer NOT NULL,
  Annual_CO2_emissions float,
  GDP_per_capita float,
  Population float,
  per_gdp_CO2 float ,
  Annual_nitrous_oxide_emissions float,
Annual_methane_emissions float,
Annual_greenhouse_gas_emissions float,
per_capita_CO2 float,
C02_emmissions_worldtotal float,
CO2_%_from_greenhouse_emissions float,
primary key (Id));
 """




execute_query(connection, create_finalProject_table) # Execute our defined query

Query successful

In [11]:

        

def execute_list_query(connection, sql, val):
    cursor = connection.cursor()
    try:
        cursor.executemany(sql, val)
        connection.commit()
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")

In [ ]:

        
sql1 = '''
   INSERT INTO finalProject2 (Entity, Year, Annual_CO2_emissions, per_capita_CO2 , GDP_per_capita, Population, per_gdp_CO2, Annual_nitrous_oxide_emissions , 
   Annual_methane_emissions, Annual_greenhouse_gas_emissions,
C02_emmissions_worldtotal, CO2_%_from_greenhouse_emissions)
    VALUES ( %s, %s, %s, %s, %s, %s, %s, %s,%s,%s,%s.%s)
  '''

val1 = df_pop3_final.values.tolist()
#print(val1)
#connection = create_db_connection("localhost", "root", pw, db)
execute_list_query(connection, sql1, val1)

In [17]:


   

firstQuery ='''SELECT ENTITY, Annual_CO2_emissions, Year from finalProject2;'''
#connection = create_db_connection("localhost", "root", pw, db)
df_co2_graph = read_query(connection, firstQuery)
print(df_co2_graph)

()